ul.root {
  list-style: none;
  padding: 0px 16px;
  color: var(--secondary-font-color);
  overflow-wrap: break-word;
}

ul.root > li {
  padding: 3px 0;
}

ul.root > li .key {
  color: var(--primary-font-color);
  text-transform: capitalize;
  font-weight: 500;
  white-space: nowrap;
}

ul.root > li .value {
  font-family: monospace;
}