.root {
  width: 100%;
  height: calc(100vh - 27px);
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
}

.details {
  display: flex;
}

/* 
.root.with-drawer  {
  transition: width 0.3s ease-in-out;
  width: 50%;
  height: 100%;
} */


