.root {
  display: flex;
  align-items: center;

  width: 100%;
  height: var(--header-height);
  box-sizing: border-box;

  background-color: var(--surface-color);
  border-bottom: 1px solid var(--border-color-1);
}

.root:not(:first-child) {
  border-top: 1px solid var(--border-color-1);
}