.root {
  width: 100%;
  height: 100%;
  display: flex;
}

.root .splitter > :global.layout-splitter  {
  width: 2px !important;
  background-color: var(--border-color-1) !important;
}
.root .splitter > :global.layout-splitter:hover   {
  background-color: var(--border-color-1) !important;
}

